/* <weight>: Use a value from 100 to 900
 <width>: Use a value from 62.5 to 100
 <uniquifier>: Use a unique and descriptive class name */

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" auto;
}

/*
n | 6.25 n
1 | 6.25
2 | 12.5
3 | 18.75
4 | 25
5 | 31.25
6 | 37.5
7 | 43.75
8 | 50
9 | 56.25
10 | 62.5
11 | 68.75
12 | 75
13 | 81.25
14 | 87.5
15 | 93.75
*/

:root {
  --charcoal: lch(12.5% 18.75 80);
  --parchement: lch(93.75% 6.25 88);
  --carnelian: lch(50% 81.25 40);
  --cerulean: lch(50% 25 230);
  --pine: lch(50% 50 145);
  --dandelion: lch(81.25% 81.25 85);
  --burgundy: lch(25%  43.75 50);
  --rose: lch(62.5% 43.37 15);
  --lavender: lch(81.25% 37.5 305);
  --tangerine: lch(62.5% 75 73.87);
  --ash: lch(62.5% 6.25 275);
  --ice: lch(87.5% 43.75 195);
  --mantis: lch(81.25% 81.25 125);
  --sand: lch(75% 31.25 85);
  --tekhelet: lch(6.25% 43.75 303.45);
  --slate: lch(18.75% 6.25 258.15);

  --default-font-size: 2vw;
}

#container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 20vw;
  border: 3px solid black;
}

.colour-box-wrapper {
  background-color: white;
  margin: auto;
  display: grid;
  width: 70vw;
  height: 70vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 1fr;
  row-gap: 1fr;
}

.colour-box {
  flex: 1;
  margin: 5%;
  border: 3pt;
  padding: 12%;
  text-align: center;
  padding-top: 30%;
}

#Charcoal {
  background-color: var(--charcoal);
  color: white;
}

#Parchment {
  background-color: var(--parchement);
}

#Carnelian {
  background-color: var(--carnelian);
}

#Pine {
  background-color: var(--pine);
}

#Dandelion {
  background-color: var(--dandelion);
}

#Cerulean {
  background-color: var(--cerulean);
  color: white;
}

#Burgundy {
  background-color: var(--burgundy);
  color: white;
}

#Rose {
  background-color: var(--rose);
}

#Lavender {
  background-color: var(--lavender);
}

#Tangerine {
  background-color: var(--tangerine);
}

#Ash {
  background-color: var(--ash);
}

#Ice {
  background-color: var(--ice);
}

#Mantis {
  background-color: var(--mantis);
}

#Sand {
  background-color: var(--sand);
}

#Tekhelet {
  background-color: var(--tekhelet);
  color: white;
}

#Slate {
  background-color: var(--slate);
  color: white;
}

html {
  background-color: var(--carnelian);
}

body {
  background-color: whitesmoke;
  /*margin: calc(7%);*/

  font-family: "Noto Serif", serif;
  font-size: calc(var(--default-font-size));
  font-style: normal;
  padding: 12.09%;
  line-height: 2;
}

/*level 1 header*/
h1 {
  font-weight: bold;
  font-size: calc(var(--default-font-size) + 5pt);
  text-align: center;
  margin: 0%;
}

h4 {
  font-weight: normal;
  font-size: calc(var(--default-font-size) + 3pt);
  text-align: center;
  font-style: italic;
  margin: 0%;
}

h2 {
  font-weight: bold;
  margin: 0%;
}

h5 {
  font-weight: normal;
  font-style: italic;
  margin: 0%;
}

h3 {
  font-weight: bold;
  font-size: inherit;
  margin: 0%;
}

h6 {
  font-weight: normal;
  font-size: inherit;
  margin: 0%;
}

p,
li {
  margin: 0%;
  text-indent: 1in;
}

html {}

body {}

h1 {}

img {}